@import "variables";

.imagine{
  float:left;
  margin: 5px;
}

li
{
  display:inline;
  margin-left: 100px;
  line-height: 4;
  font-size: 20px;
}

.saveSearch
{
  position: absolute;
  border-radius:30px;
  border: $border-style;
  width:150px;
  height:35px;
  top: 35px;
  right: 255px;
  font-size: medium;
}

.login{
  position: absolute;
  background-color: $background-color-1;
  width: 100px;
  height: 50px;
  color: white;
  border: #ffffff;
  border-radius: 20px;
  font-size: medium;
  top: 30px;
  right: 150px;
}

.buy{
  background-color: $background-color-1;
  border-radius: 20px;
  color: white;
}

.choice
{
  position: absolute;
  top: 550px;
  left: -80px;
  border-radius: 20px;
  font-weight: bolder;
  color: grey;
  border: #ffffff;
}

.background{
  position: absolute;
  top: 100px;
  right: 150px;
}

.span_1{
  font-size: 60px;
  color: $background-color-2;
  line-height: 150%
}

.span_2{
  font-size: 15px;
  color: black;
  line-height: 50%
}

.sp{
  color: #0f7dc1
}

.body
{
  position: absolute;
  color: #0f7dc1;
  font-family:"Times New Roman", Times, serif;
  padding: 60px;
  font-weight:900;
  background-color: white;
  font-size: 60px;
  height:150px;
  width: 400px;
  border-radius:40px;
  top: 200px;
  left: -40px;
  line-height: 0.15;
  box-shadow: 0px 5px 10px lightgray;
}

.special-label{
  font-size: 20px;
  color: grey;
}

.enter{
  height: 30px;
  width:150px;
  font-size: 25px
}

::-webkit-input-placeholder{
  color: $background-color-1;
  font-weight: 900;
}

.enter:invalid {
  border: 2px dashed red;
}

.enter:valid {
  border: 2px solid white;
}

.label1{
  font-size: 20px;
  color: grey
}

/*
  using mixin here!
 */

@mixin select-twice{
  height: 30px;
  font-size: 25px;
  color: $background-color-1;
  font-weight: 900;
  border: none
}

.select1{
  @include select-twice;
  width:210px;
}

.select2{
  @include select-twice;
  width:280px;
}

/*
  using loop here!
 */

@for $i from 1 through 3 {
  .#{$class-slug}-#{$i}{
    position:absolute;
    top:20px;
    left: -200px + 250*$i; } }

.advanceFilter
{
  position: absolute;
  font-size: 20px;
  color: $background-color-1;
  top: 40px;
  left: 900px;
  background-color: transparent;
  border: none;
}
.search_1{
  position: absolute;
  font-size: 20px;
  color: white;
  top: 28px;
  left: 1100px;
  background-color: $background-color-1;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  border: none;
}

.filter{
  position: absolute;
  top: 650px;
  width: 1250px;
  height: 100px;
  background-size: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px lightgray;
}

.title2{
  position:absolute;
  font-size: 40px;
  top: 1100px;
  left: 700px;
  color: $background-color-3;
  font-weight: 900;
  font-family:"Times New Roman", Times, serif;
}
.dream{
  color: #5f8ac1;
}
.selectApt{
  color: grey;
  font-size: 20px;
  font-weight: 200;
}

.img4{
  height: 200px;
  width: auto
}

@for $i from 1 through 4 {
  .#{$class-slug1}-#{$i}{
    position:relative;
    left: 80px + 5*$i; } }

.button-continue{
  position: absolute;
  top: 280px;
  left:600px;
  font-size: 15px;
  border-radius: 10px;
  background-color: $background-color-1;
  width: 300px;
  height: 50px;
  border: none;
  color: white
}

/*
  using inheritance to avoid duplicated code!
 */

.imagine1{
  position: absolute;
}
.imagine2{
  @extend .imagine1;
  left: 400px;
}
.imagine3{
  @extend .imagine1;
  left: 800px;
}
.imagine4{
  @extend .imagine1;
  left: 1200px;
}

.continueChoose{
  position: absolute;
  top: 1250px;
  left: 200px;
}

.label2{
  position:absolute;
  top:1680px;
  left:570px;
  font-size: large;
  color: grey;
}

.div1{
  font-size: small;
  color: grey;
}

.div2{
  color: #0f7dc1;
  font-size: 20px;
  font-weight: 900;
}

/*
  using nested selector here!
 */

.div3{
  font:{
    weight: 900;
    size: 20px;
  }
}

.div4{
  font-size: small;
  color: grey;
}

.title3{
  position:absolute;
  font-size: 40px;
  top: 1600px;
  left: 770px;
  color: $background-color-3;
  font-weight: 900;
  font-family:"Times New Roman", Times, serif;
}
.house1{
  position:absolute;
  left: 130px;
  top: 1750px;
}
.house2{
  position: absolute;
  top: 1750px;
  left: 730px;
}
.house3{
  position: absolute;
  top: 1750px;
  left: 1330px;
}

.list1{
  color: #0f7dc1;
}

.deluxe{
  font-size: 25px;
  color: white;
  position: relative;
  top:30px;
  left:25px;
  font-weight: 900;
}

.title4{
  position:absolute;
  font-size: 40px;
  top: 2300px;
  left: 800px;
  color: $background-color-3;
  font-weight: 900;
  font-family:"Times New Roman", Times, serif;
}
.summary{
  background-color: $background-color-1;
  position: absolute;
  left: 280px;
  top: 2550px;
  height: 450px;
  width: 550px;
}
.text1{
  position: relative;
  line-height: 30px;
  top:50px;
  left:25px;
  font-size: 14px;
  color: white;
}
.area{
  position: relative;
  line-height: 40px;
  top: 50px;
  left:25px;
  font-size: 14px;
  color: white;
}
.list{
  position:absolute;
  top: 2400px;
  left: 270px;
}
.imgSimple{
  position:absolute;
  top: 2500px;
  right: 400px;
}

.adv1{
  color: #5f8ac1;
  font-size: 50px;
  line-height:70px;
  font-weight: 900;
  font-family:Times New Roman, Times, serif;
  position:relative;
  top: 100px;
}

.adv2{
  color: $background-color-1;
}

.adv3{
  color: white;
  background-color: $background-color-2;
  position: relative;
  top: 160px;
  left: 30px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  height: 80px;
  width:300px;
}

.fig{
  height:800px;
  width:auto;
}

.adv{
  position:absolute;
  top: 3100px;
  left: 200px;
}
.img{
  position:absolute;
  top: 3100px;
  right: 200px;
}
.topImg{
  position:absolute;
  top: 3450px;
  right: 800px;
}
.bottomImg{
  position: absolute;
  top: 3880px;
}
.end{
  position:absolute;
  top: 3900px;
  left: 200px;
  color: white;
}
.tag2{
  position: relative;
  top: 50px;
}