/*
  for values used many times, add some variables
 */
$class-slug: col !default;
$class-slug1: for !default;

$background-color-1: royalblue;
$background-color-2: #2c57c1;
$background-color-3: #23305a;

$border-style: thin dashed darkgray;